.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.bg {
  position: absolute;
  width: 100vw;
  height: auto;
  top: auto;
  left: 0px;
  background-size: cover;
  background-position: top center;
}

.modalImage {
  position: relative;
  width: 70vw;
  height: auto;
  margin: auto;
}

.description {
  position: relative;
  margin-top: 20%;
  margin-bottom: 25px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.5rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 10;
  font-family: var(--font-mono);
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.password {
  position: relative;
  text-align: center;
  width: 70%;
  margin: auto;
  z-index: 10;
  padding: 0px 10px 0px 10px;
}

.icon {
  padding: 10;
}

.imageList {
  width: 500;
  height: 450;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70%;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}